*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    }
    html {
        scroll-behavior: smooth;
    }
    
    nav{
        display: flex;
        justify-content:space-around;
        align-items: center;
        min-height: 8vh;
        font-family: 'Poppins', sans-serif;
        background-color: rgb(255, 191, 14);
        position: sticky;
        top: 0;
    
    }
    
    .LOGO{
        display: flex;
        vertical-align: bottom;
        color:darkblue;
        letter-spacing: 1px;
        font-size: 25px;
    }
    
    .Links{
        display: flex;
        justify-content: space-around;
        width: 30%;
    }
    .Links a{
        color: white;
        text-decoration: none;
        letter-spacing: 3px;
        font-weight: bold;
        font-size: 14px;
    }
    
    .Links li{
        list-style: none;
        padding: 25px;
    }
    .container{ 
        font-family: 'Poppins', sans-serif;
        text-align: center;
        margin: 0 auto;
        background: url('img/background.png') no-repeat center;
        font-size: 25px;
        width:100%;
        height:100%;
        padding-bottom: 70px;
    
    }
    
    .parallax{
        width: 100%;
        background-attachment: fixed;
        box-shadow: black;
        top: 0;
    }
    
    .btn {
        cursor: pointer;
    }
    
    .register{
        height: 50px;
        width: 250px;
        background-color: #4CAE50;
        color: #050C31;
        font-size: 24px;
        border-radius: 5px;
        border: none;
        box-shadow: black;
        box-shadow: 0 0 0 0  rgba(0, 0, 0, 0.2), 0 0 10px 0 rgba(0, 0, 0, 0.19);
        font-weight: bold;
    }
    
    .Links li:active{
    background-color: #2196F2;
    
    }
    
    .what-is-criscell{
        font-size: 50px;
        text-align: center;
        color: aliceblue;
        padding-left: 10%;
        padding-right: 10%;
        padding-bottom: 100px;
        padding-top: 100px;
        background-color: #374046;
        text-indent: 1px;
    
    }
    
    .what-is-criscell p{
        text-align: justify;
        font-size: 24px;
    }
    
    .who-we-are{
        padding: 50px;
        font-size: 50px;
        text-align: center;
        color: aliceblue;
        padding-left: 10%;
        padding-right: 10%;
        background-color: #607D8B;
        text-indent: 1px;
        padding-bottom: 100px;
    }
    .who-we-are p{
      font-size: 25px;
    }
    
    .card{
        display: flex;
        justify-content: space-around;
        padding-left: 10%;
        padding-right: 10%;
        padding-top: 50px;
    }
    
    .card-text{
        background-color: rgb(233, 229, 229, .2);
        padding: 10px;
    }
    .card-text p{
    font-size: 20px;
    font-weight: lighter;
    }
    
    .card-text h6{
        color:#FEEA3B;
    }
    
    
    .bottom-bar{
        background-color: black;
        color: aliceblue;
        text-align: center;
        font-size: 12px;
        font-weight: lighter;
    }
    
    